/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.7;
  font-weight: 400;
  background: $background-color;

  &.overflow--hidden {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em;
  line-height: 1.3;
  font-family: $header-font-family;
  font-weight: 600;
  color: $dark-navy;
}

h1 {
  margin-top: 1em;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4, h5, h6 {
  font-size: $type-size-6;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1em;
}

u, ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

ul {
  padding-inline-start: 1.5em;
  margin-block-start: 0.5em;
}

del a {
  color: inherit;
}

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

blockquote {
  margin: 1.5em 0;
  padding: 1em 1.5em;
  font-style: italic;
  border-left: 3px solid $sky-blue;
  background: $snow;
  border-radius: 0 $border-radius-sm $border-radius-sm 0;

  cite {
    font-style: italic;
    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: $global-transition;
  
  &:focus {
    @extend %tab-focus;
  }

  &:hover, &:active {
    outline: 0;
    color: $link-color-hover;
  }
}

tt, code, kbd, samp, pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding: 0.15rem 0.4rem;
  font-size: $type-size-6;
  background: $code-background-color;
  border-radius: $border-radius-sm;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

hr {
  display: block;
  margin: 2em 0;
  border: 0;
  height: 1px;
  background: $border-color;
}

ul li, ol li {
  margin-bottom: 0.4em;
}

li ul, li ol {
  margin-top: 0.5em;
}

figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img, iframe, .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a, > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }
    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a, > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }
    figcaption {
      width: 100%;
    }
  }
}

figcaption {
  margin-bottom: 0.5em;
  color: $text-muted;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    transition: $global-transition;

    &:hover {
      color: $link-color;
      border-bottom-color: $link-color;
    }
  }
}

svg:not(:root) {
  overflow: hidden;
}

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  ul li, ol li {
    margin-bottom: 0;
  }

  li ul, li ol {
    margin-top: 0;
  }
}

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item-teaser {
  transition: $global-transition;
}

::selection {
  background: rgba(14, 165, 233, 0.15);
  color: $dark-navy;
}

::-moz-selection {
  background: rgba(14, 165, 233, 0.15);
  color: $dark-navy;
}
