/* ==========================================================================
   SIDEBAR - Clean Minimal Design
   ========================================================================== */

.sidebar {
  @include clearfix();
  margin-bottom: 1.5em;
  padding: 0 1em;

  @include breakpoint($large) {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-640px);
    width: 240px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding: 0;
    padding-right: 1em;
    margin-bottom: 0;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  @include breakpoint($large) {
    @media (max-width: 1280px) {
      left: 2em;
      transform: none;
    }
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

/*
   Author profile
   ========================================================================== */

.profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  padding: 1.25em;
  background: $slate-50;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  
  @include breakpoint($large) {
    gap: 0;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    text-align: center;
  }
}

.author__avatar {
  flex-shrink: 0;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: $global-transition;
    object-fit: cover;

    @include breakpoint($large) {
      width: 150px;
      height: 150px;
      border: 3px solid $slate-200;
    }
    
    &:hover {
      border-color: $ocean-blue;
    }
  }
}

.author__content {
  flex: 1;
  min-width: 0;
  text-align: center;

  @include breakpoint($large) {
    width: 100%;
    margin-top: 1em;
  }
}

.author__name {
  margin: 0 0 0.1em 0;
  color: $dark-navy;
  font-weight: 600;
  font-size: 1.1em;
  font-family: $sans-serif;
  white-space: nowrap;
  
  @include breakpoint($large) {
    font-size: 1.2em;
    margin-bottom: 0.25em;
  }
}

.author__nickname {
  margin: 0 0 0.2em 0;
  color: $slate-400;
  font-size: 0.85em;
  font-family: Georgia, serif;
  font-style: italic;
  
  @include breakpoint($large) {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
}

.author__bio {
  margin: 0;
  color: $slate-500;
  font-size: 0.8em;
  line-height: 1.4;
  display: none;

  @include breakpoint($large) {
    display: block;
    margin-bottom: 1em;
    font-size: 0.85em;
  }
}

.author__urls-wrapper {
  position: relative;
  font-family: $sans-serif;
  z-index: 10;
  width: 100%;

  @include breakpoint($large) {
    display: block;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $border-color;
  }

  button {
    display: none;
  }
}

.author__urls {
  display: none;

  @include breakpoint($large) {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    white-space: nowrap;
    
    > div {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    color: $slate-600;
    font-size: 0.875em;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: $ocean-blue;
    }
    
    i {
      width: 16px;
      color: $slate-400;
      text-align: center;
    }
  }
}

/* ==========================================================================
   Mobile Social Icons - Below profile box
   ========================================================================== */

.author__urls_sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  padding-top: 0.75em;
  border-top: 1px solid $slate-200;
  width: 100%;
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: $slate-500;
    background: white;
    border: 1px solid $slate-200;
    border-radius: 50%;
    text-decoration: none;
    transition: $global-transition;
    
    &:hover, &:active {
      color: white;
      background: $ocean-blue;
      border-color: $ocean-blue;
    }
    
    i {
      margin: 0;
    }
  }
  
  @include breakpoint($large) {
    display: none;
  }
}

/* ==========================================================================
   Sidebar Right
   ========================================================================== */

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}
